<p>
  User show page
</p>
<% if current_user %>
  Hello, <%= current_user.first_name + " " + current_user.last_name %>
  <img src="<%= current_user.avatar %>", height="100px", width="100px" >
  <% @activities.each do |activity| %>
    <br/><%= link_to activity.name, activity_path(activity.id) %>
  <% end %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Sign in with Strava", strava_login_path %>
<% end %>
