Name: <%= @activity.name %><br/>
Distance(m): <%= @activity.distance %><br/>
Moving Time(seconds): <%= @activity.moving_time %><br/>
Elapsed Time(seconds): <%= @activity.elapsed_time %><br/>
Total Elevation Gain(m): <%= @activity.total_elevation_gain %><br/>
Activity Type: <%= @activity.type %><br/>
Average Speed(meters per second): <%= @activity.average_speed %><br/>
Max Speed(meters per second): <%= @activity.max_speed %><br/>
High Point(m): <%= @activity.elev_high %><br/>
Low Point(m): <%= @activity.elev_low %><br/>

<div class="container col-md-offset-2">
  <%= render partial: "layouts/map" %>
</div>
